#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    padding-inline: 10px;
  }

  #navbar .logo {
    max-width: 400px
}

img {
    max-width: 100%;
}


#Section1 {
  background-color: rgb(245, 240, 230);
  padding-inline: 10px;
  scroll-margin-top: 146px;
  display: inline-block;
  width: 100%;
}

#Section2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg'); 
    display: inline-block;
    padding-inline: 10px;
    width: 100%;
    scroll-margin-top: 146px;
}
#Section3 {
    background-color: rgb(245, 240, 230); 
    display: inline-block;
    padding-inline: 10px;
    width: 100%;
    scroll-margin-top: 146px;
  }

#Section2 h2 {
    color:white;
}

h2 {
    scroll-margin-top: 160px;
}

li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px;
}

a {
    display: block;
    /* padding: 8px; */
    color:black;
}

ul {
    background-color: white;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    font-size: 28px;
    
}

li a:hover {
    background-color: #182B49;
    color:white;
  }

/* Style the navbar */


.grid-container {
    /* display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
    max-height: 500px;
    gap: 25px;*/
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    max-height: 500px;
    
}

.grid-item {
    background-color: #182b49;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    overflow-y: auto;
    height: 500px;
    color: white;
}


/* .item1{
    overflow-y: scroll;
}
.item2{
    overflow-y: scroll;
}
.item3{
    overflow-y: scroll;
}
.item4{
    overflow-y: scroll;
} */


@media screen and (max-width: 800px) {
    
    ul {
        display: none;
        height: 60px;
    }

    li a {
        display: none;
    }

    #navbar .logo {
        max-width: 75%;
    }

    #navbar {
        position: static;
    }


    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    img {
        max-width: 100%;
    }
}